* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: hsl(60, 8%, 10%);
	color: white;
	background-size: cover;
	background-position: top;
}
*{
	-webkit-transition: opacity 1s linear;
-moz-transition: opacity 1s linear;
-ms-transition: opacity 1s linear;
-o-transition: opacity 1s linear;
	transition: .5s opacity linear;
}