.Pattern {
  background-image: url("../../../assets/grid-part.svg");
  position: absolute;
  inset: -0.85%;
  opacity: 0.2;
}
.Cell {
  position: absolute;
  inset: 0;
  border: 1px solid rgb(255, 252, 88);
  background-color: #f6d60c;
  opacity: 0.5;
  transition: 1s opacity linear;
}
.Border {
  position: absolute;
  inset: 0;
  border: 1px solid white;
  opacity: 0.05;
}
